# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"
JWT_SECRET="your-super-secret-jwt-key-at-least-32-characters-long"
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:3000/auth/google/callback"
# CORS
CORS_ORIGIN="http://localhost:5173"

# Frontend
FRONTEND_URL="http://localhost:5173"

# Server
PORT="3000"
NODE_ENV="development"

# Cloudflare
R2_ACCOUNT_ID="your_account_id_here"
R2_ACCESS_KEY_ID="your_access_key_id_here"
R2_SECRET_ACCESS_KEY="your_secret_access_key_here"
R2_BUCKET_NAME="iiitbuzz-uploads"
